---
layout: default
section: acerca
---

<h1 class="mt-3">¿Qué es <em>esLibre</em>?</h1>

<p><em>esLibre</em> es un encuentro de personas interesadas en las tecnologías libres, enfocado
a compartir conocimiento y experiencia alrededor de las mismas.</p>

<h1>¿Por qué <em>esLibre</em>?</h1>

<p></p>La primera motivación ha sido la nostalgia existente por los congresos de HispaLiNUX.</p>

<h1>¿Quién organiza <em>esLibre</em>?</h1>

<p>La organización del encuentro del año {{site.year}} corre a cargo de:</p>

<ul>
{% for persona in site.data.2019.organizacion %}
<li>{{persona.nombre}}</li>
{% endfor %}
</ul>