---
layout: default
section: noticias
---

<h1 class="mt-3">Últimas noticias</h1>

<p class="lead">Novedades recientes sobre <em>esLibre</em>.</p>

{% for post in site.posts %}
<h2><a href="{{post.url}}">{{post.title}}</a></h2>
<p><small><em>{{post.date}}</em></small></p>
{% endfor %}